@model GameLol.DoMain.SkillHero

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SkillHero</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameSkillHero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameSkillHero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionSkinHero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionSkinHero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeroLol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeroLol.HeroID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SkillHeroId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
