@model IEnumerable<Mvc.Models.Student.StudenView>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="Student">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Student</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Student", new {  id=item.Id}) |
                @Html.ActionLink("Details", "Index","Subjects",new { id=item.Id}) |
                @Html.ActionLink("Delete", "Delete","Student", new { id=item.Id},new {@class="btn btn-danger",
               onclick ="return confirm('You want Delete')"})
            </td>
        </tr>
}
    </tbody>
</table>
