@model IEnumerable<BoDeTracNghiemDemo.Models.CauHoi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenCauHoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CauTraLoi1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CauTraLoi2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CauTraLoi3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CauTraLoi4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenCauHoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CauTraLoi1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CauTraLoi2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CauTraLoi3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CauTraLoi4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheLoai.TenTheLoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CauHoiId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CauHoiId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CauHoiId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
