@model MVCStudent.ViewModel.StudentsListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="form">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(s => Model.Student.Name)
            </th>
            <th>
                @Html.DisplayNameFor(s => Model.Student.History)
            </th>
            <th>
                @Html.DisplayNameFor(s => Model.Student.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(s => Model.Student.Group)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(s => item.Name);
                </td>
                <td>
                    @Html.DisplayFor(s => item.History);
                </td>
                <td>
                    @Html.DisplayFor(s => item.Sex);
                </td>
                <td>
                    @Html.DisplayFor(s => item.Group.GroupName);
                </td>
                @*<td>
                    @Html.ActionLink("Edit","Edit")
                </td>*@
            </tr>
        }
    </tbody>
</table>