@model WOTWebApp.Models.Tank

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tank</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TankTier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TankTier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirePower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirePower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Survivability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Survivability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concealment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concealment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spotting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spotting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TankType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TankType.TankTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nation.NationName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TankId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
