@page
@model CompanyApp.Pages.Company.ListModel
@{
}

<form method="get">
    <div class="input-group">
        <input type="search" asp-for="SearchKeyWord" />
        <button class="btn btn-dark"><i class="fa fa-search" style="font-size: 24px"></i></button>
    </div>
</form>
<table class="table table-danger">
    @{ int i = 0;}
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Company</th>
        </tr>
    </thead>
    @foreach (var item in Model.Companies)
    {
        i++;
        <tbody>
            <tr>
                <th scope="col">@i</th>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.CompanyType</td>
                <td>
                    <a class="btn btn-light" asp-page="./Detail" asp-route-companyId="@item.Id"><i class="fa fa-search-plus"></i></a>
                </td>
            </tr>
        </tbody>
    }
</table>

