@page "{id:int}"
@model RazorPage.Pages.QLSach.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<br />
<h2 class="text-info">Detail</h2>
@if (Model.Message != null)
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true"> &times;</span>
        </button>
        @Model.Message
    </div>
}
<form>
    <div class="container" style="padding:30px;">
        <div class="form-group  ">
            <div class="row ">
                <div class="col-sm-2 ">
                    <label>@Html.DisplayNameFor(m => Model.QuanLySach.TenSach)</label>
                </div>
                <div class="col-sm-4">
                    <label>@Model.QuanLySach.TenSach</label>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-2 ">
                    <label>@Html.DisplayNameFor(m => Model.QuanLySach.TenTacGia)</label>
                </div>
                <div class="col-sm-4">
                    <label>@Model.QuanLySach.TenTacGia</label>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-2 ">
                    <label>@Html.DisplayNameFor(m => Model.QuanLySach.MoTa)</label>
                </div>
                <div class="col-sm-4">
                    <label>@Model.QuanLySach.MoTa</label>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-2 ">
                    <label>@Html.DisplayNameFor(m => Model.QuanLySach.NamSanXuat)</label>
                </div>
                <div class="col-sm-4">
                    <label>@Model.QuanLySach.NamSanXuat</label>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-2 ">
                    <label>@Html.DisplayNameFor(m => Model.QuanLySach.SoLuong)</label>
                </div>
                <div class="col-sm-4">
                    <label>@Model.QuanLySach.SoLuong</label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <label>@Html.DisplayNameFor(m => @Model.QuanLySach.TheLoais)</label>
                </div>
                <div class="col-sm-4">
                    <label> @Model.QuanLySach.TheLoais</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1">
                <a asp-route-id="@Model.QuanLySach.Id" asp-page="AddOrEdit" class="text-success mr-2"><i class="fa fa-marker fa-lg"></i></a>
            </div>
            <div class="col-sm-1">
                <a asp-page="Index" class="btn btn-outline-danger btn-sm btn-control ">Back</a>
            </div>

        </div>
    </div>

</form>
