@model IEnumerable<GroupMeetingASP.NETCoreWebAp.Models.GroupMeeting>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddGroupMeeting">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupMeetingLeadName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamLeadName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupMeetingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>          
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupMeetingLeadName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamLeadName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupMeetingDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateGroupMeeting","GroupMeeting",new { id=item.Id}) |
                @Html.ActionLink("Details","GroupMeetingDetails","GroupMeeting",new { id=item.Id}) |
                @Html.ActionLink("Delete", "DeleteGroupMeeting","GroupMeeting", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
