@model IEnumerable<BoDeTracNghiemDemo.Models.Thi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenThi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiDung)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenThi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiDung.DiaChi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ThiId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ThiId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ThiId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
